@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #fe5c17;
    --dark-color: #0a2060;
    --light-color: #030e2c;
    --success-color: #f5f5f5;
}

* {
    margin: 0 auto;
    max-width: 1360px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

span {
    color: var(--primary-color);
}

/* ***************************** */
.top_main {
    padding: 0.6rem 0;
}

.top_sec2 i {
    color: #fff;
    background: var(--primary-color);
    padding: 0.4rem 0.5rem;
    border-radius: 100%;
}

.top_sec2 p {
    font-size: 0.8rem;
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.top_sec2 h6 {
    font-size: 0.9rem;
    color: var(--dark-color);
    font-weight: 600;
}

/* ***************************** */
.nav_sec {
    background: var(--dark-color);
    padding: 1rem 0;
}

.nav_sec img {
    display: none;
}

.nav_ul li {
    padding: 0 1.4rem;
}

.nav_a a {
    color: #fff !important;
}

.nav_ul a {
    color: rgb(255, 255, 255, 0.75);
    position: relative;
    padding-bottom: 0.3rem;
    font-size: 00.95rem;
}

/*  */
.nav_ul a:hover {
    color: var(--primary-color);
}

.nav_a a:hover {
    color: var(--primary-color) !important;
}

.nav_ul a::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    height: 0.15rem;
    top: 85%;
    right: 0%;
}

.nav_ul a::after {
    transform: scale(0, 1);
    transition: transform 1s ease;

}

.nav_ul a:hover::after {
    transform: scale(1, 1);
    transition: transform 1.5s ease;
}

/* ***************************** */
.section1 {
    background-image: url(./img/skyoe.PNG);
    background-size: cover;
    padding: 10rem 0 15rem 0;
    color: #fff;
}

.s1_1 p {
    font-size: 1.35rem;
    font-weight: 300;
    color: rgb(255, 255, 255, 0.85);
}

.s1_1 h1 {
    font-size: 4.3rem;
    font-weight: 550;
    line-height: 1.15;
    letter-spacing: 2px;
}

.btn1 {
    padding: 1rem 1.7rem;
    background: var(--primary-color);
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 4px 4px;
    border: 0;
    margin-top: 2.5rem;
}

.btn1:hover {
    background: var(--light-color);
    color: #fff;
    transition: 0.8s;
}

/* ***************************** */
.section2 {
    padding: 4rem 0;
    background: var(--success-color);
}

.s2_1 h5 {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem;
}

.s2_2 {
    display: flex;
}

.s2_2 input {
    margin: 0 0.5rem;
    padding: 0.7rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: 2px solid #b8b8b7;
    background: transparent;
    border-radius: 0;
}

.form-control:focus {
    border: 2px solid #b8b8b7;
    box-shadow: none;
}

.btn2 {
    padding: 0.7rem 1.7rem;
    background: var(--primary-color);
    color: #fff;
    letter-spacing: 0.5px;
    box-shadow: 4px 4px var(--dark-color);
    border: 0;
}

.btn2:hover,
.btn3:hover {
    background: var(--light-color);
    color: #fff;
    box-shadow: 4px 4px var(--primary-color);
    transition: 0.8s;
}

/* ***************************** */
.section3 {
    padding: 7rem 0;
}

.s3_p1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.s3_1 h1 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--light-color);
}

.s3_p2 {
    font-size: 0.92rem;
    padding-left: 1rem;
    border-left: 4px solid var(--primary-color);
    margin: 0.8rem 0;
    padding-right: 9rem;
    line-height: 1.5;
    font-weight: 500;
    color: grey;
}

.s3_1 h4 {
    color: var(--light-color);
}

.s3_3 {
    padding: 1.5rem 0;
}

.s3_icon {
    align-items: center;
}

.s3_icon i {
    font-size: 1.4rem;
    color: #7e828f;
}

.s3_icon p {
    font-size: 1.1rem;
    font-weight: 500;
}

.btn3 {
    padding: 1rem 2.9rem;
    background: var(--primary-color);
    color: #fff;
    letter-spacing: 0.5px;
    box-shadow: 5px 5px var(--light-color);
    border: 0;
    margin-top: 3rem;
}

.s3_2 img {
    border-right: 9px solid var(--dark-color);
    border-bottom: 9px solid var(--dark-color);
    padding-right: 1rem;
}

/* ***************************** */
.section4 {
    background: var(--success-color);
    padding: 8rem 0;
}

.s4_3 {
    background: #fff;
    padding: 1.5rem 1rem;
}

.s4_3 h5 {
    font-weight: 600;
    margin: 0.7rem 0;
}

.s4_3 p {
    font-size: 0.85rem;
}

.s4_3 img {
    margin-top: -4rem;
}

.s4_3 p {
    margin-bottom: 0;
    font-weight: 450;
    color: grey;
}

.s4_4 {
    padding: 2rem;
}

.s4_2 h1 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--light-color);
}

.s4_p1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.s4_p2 {
    font-size: 0.92rem;
    padding-left: 1rem;
    border-left: 4px solid var(--primary-color);
    margin: 0.8rem 0;
    line-height: 1.5;
    font-weight: 500;
    color: grey;
}

.s4_2 img {
    padding-top: 1.5rem;
}

/* ***************************** */
.section5 {
    padding: 8rem 0;
}

.s5_h2 {
    display: flex;
    padding: 1rem 0 2rem 0;
}

.s5_p2 {
    font-size: 0.92rem;
    margin: 0.8rem 0;
    line-height: 1.5;
    font-weight: 500;
    color: grey;
}

.s5 h1 {
    font-weight: 600;
}

/* ***************************** */
.section6 {
    background: var(--success-color);
    padding: 7rem 0;
}

.s6_1 h4 {
    font-size: 1.3rem;
}

.s6_1 h1 {
    font-weight: 600;
    color: var(--dark-color);
}

.s6_1 p {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.s6_1 h6 {
    color: grey;
    font-weight: 600;
}

.s6_3 {
    border-left: 4px solid var(--primary-color);
}

.s6_icon i {
    font-size: 1.4rem;
    border: 2px solid #000;
    padding: 0.5rem 0.6rem;
    border-radius: 100%;
    color: var(--primary-color);
    margin: 0 0.3rem;
    background: transparent;
}

.s6_last {
    padding-top: 2rem;
}

.s6_img {
    padding-top: 2rem;
}

.s6_img img {
    padding: 0.8rem 0.4rem;
}

/* ***************************** */
.section7 {
    background: var(--dark-color);
    padding: 3rem 0;
    color: #fff;
}

.section7 h4 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.f_1 p {
    font-size: 0.9rem;
    padding-right: 3rem;
    line-height: 1.7;
}

.f_4 h5 {
    font-size: 1rem;
    font-weight: 300;
}

.f_4 h6 {
    font-size: 0.7rem;
    letter-spacing: 0.8px;
    color: rgb(204, 204, 204);
}

.f_2 i {
    padding: 0.3rem 0.5rem;
    background: var(--primary-color);
    font-size: 0.7rem;
}

.f_2 p {
    font-size: 0.95rem;
}

.f_3 p {
    font-size: 0.9rem;
}

.f_3 i {
    padding-right: 0.4rem;
}

.footer_icon i {
    padding: 0.4rem;
    color: var(--primary-color);
    background: #fff;
    margin-right: 0.5rem;
}

.section8 {
    border-top: 2px solid #1d3d6c;
    background: var(--dark-color);
    padding: 2rem 0 1rem 0;
}

.section8 p {
    color: #6a7e9e;
    font-size: 0.85rem;
}

/* ***************************** */

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0);
    border-color: rgba(0, 0, 0, .0);
}

/* ***************************** */
@media only screen and (min-width:320px) and (max-width:476px) {

    * {
        margin: 0 !important;
        padding: 0;
    }

    .top_sec3 {
        text-align: center;
    }

    .top_sec2 {
        padding: 0.6rem 0;
    }

    .top_sec1 img {
        display: none;
    }

    /* ***************************** */
    .nav_sec img {
        display: block;
    }

    .nav_ul li {
        padding: 0.4rem;
    }

    .nav_main {
        padding: 1rem;
    }

    .nav_sec i {
        color: var(--primary-color);
    }

    .nav_sec i:hover {
        color: #fff !important;
        transition: 0.8s;
    }

    /* ***************************** */
    .section1 {
        padding: 4rem 0 6rem 0;
        background-image: url(./img/skyoe\ \(2\).PNG);
    }

    .s1_1 h1 {
        font-size: 2.2rem;
        letter-spacing: 1px;
    }

    .s1_1 p {
        font-size: 1rem;
    }

    .btn1 {
        padding: 0.8rem 1.3rem;
        margin-top: 2.5rem !important;
        font-size: 0.8rem;
    }

    /* ***************************** */
    .section2 {
        text-align: center;
    }

    .s2_2 {
        display: block;
    }

    .s2_2 input {
        margin: 1rem 0 !important;
    }

    .btn2 {
        margin-top: 2rem !important;
    }

    /* ***************************** */
    .section3 {
        padding: 5rem 0;
    }

    .s3_p2 {
        margin: 0.8rem 0 !important;
        padding-right: 0rem;
    }

    .s3_icon p {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

    .s3_icon i {
        font-size: 1rem;
    }

    .btn3 {
        padding: 0.8rem 1.5rem;
        margin-top: 3rem !important;
    }

    .s3_2 {
        padding-top: 6rem;
    }

    .s3_1 h1 {
        font-size: 2rem;
    }

    /* ***************************** */
    .section4 {
        padding: 5rem 0;
    }

    .s4_2 {
        padding: 2rem 1rem;
    }

    .s4_2 h1 {
        font-size: 2rem;
    }

    .s4_p2 {
        margin: 0.8rem 0 !important;
    }

    .s4_4 {
        padding: 0rem;
    }

    .s4_3 {
        margin: 1.5rem 0 !important;
    }

    .s4_3 h5 {
        margin: 0.7rem 0 !important;
    }

    /* ***************************** */
    .section5 img {
        padding: 0.7rem 0;
        width: 100%;
    }

    .s5_h2 h5 {
        font-size: 0.9rem;
        padding: 0 0.27rem;
    }

    .s5_h2 {
        justify-content: center;
    }

    /* ***************************** */
    .section6 {
        padding: 1rem 0 7rem 0;
    }

    .s6_img {
        text-align: center;
    }

    .s6_1 {
        padding: 4rem 0;
    }

    .s6_1 h4 {
        padding-bottom: 0.5rem;
        font-size: 1rem;
    }

    .s6_1 p {
        margin-top: 3rem !important;
        margin-bottom: 1.5rem !important;
    }

    .s6_icon i {
        font-size: 1rem;
    }

    .s6_last img {
        padding: 0.6rem 0;
    }

    .s6_last {
        text-align: center;
    }

    /* ***************************** */
    .f_1,
    .f_2,
    .f_3,
    .f_4 {
        padding: 1.5rem 0;
    }

    .f_2 i {
        padding: 0.3rem 0.4rem;
        margin: 0.4rem 0 !important;
        font-size: 0.7rem;
    }

    .f_3 i {
        padding-right: 0.7rem;
    }

    .f_3 p {
        font-size: 0.9rem;
        padding: 0.4rem 0.5rem;
    }

    .footer_icon {
        padding-top: 2rem;
    }

    .footer_icon i {
        margin-right: 0.6rem !important;
    }

    /* ***************************** */
    /* ***************************** */
    /* ***************************** */
    /* ***************************** */
}

@media only screen and (min-width:477px) and (max-width:600px) {
    .container {
        margin: 0 auto !important;
    }

    * {
        margin: 0 !important;
        padding: 0;
    }

    .top_main {
        display: none;
    }

    /* ***************************** */
    .nav_sec img {
        display: block;
    }

    .nav_ul li {
        padding: 0.4rem;
    }

    .nav_main {
        padding: 1rem;
    }

    .nav_sec i {
        color: var(--primary-color);
    }

    .nav_sec i:hover {
        color: #fff !important;
        transition: 0.8s;
    }

    /* ***************************** */
    .section1 {
        padding: 4rem 0 6rem 0;
        background-image: url(./img/skyoe\ \(2\).PNG);
    }

    .s1_1 h1 {
        font-size: 2.2rem;
        letter-spacing: 1px;
    }

    .s1_1 p {
        font-size: 1rem;
    }

    .btn1 {
        padding: 0.8rem 1.3rem;
        margin-top: 2.5rem !important;
        font-size: 0.8rem;
    }

    /* ***************************** */
    .section2 {
        text-align: center;
    }

    .s2_2 {
        display: block;
    }

    .s2_2 input {
        margin: 1rem 0 !important;
    }

    .btn2 {
        margin-top: 2rem !important;
    }

    /* ***************************** */
    .section3 {
        padding: 5rem 0;
    }

    .s3_p2 {
        margin: 0.8rem 0 !important;
        padding-right: 0rem;
    }

    .s3_icon p {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

    .s3_icon i {
        font-size: 1rem;
    }

    .btn3 {
        padding: 0.8rem 1.5rem;
        margin-top: 3rem !important;
    }

    .s3_2 {
        padding-top: 6rem;
    }

    .s3_1 h1 {
        font-size: 2rem;
    }

    /* ***************************** */
    .section4 {
        padding: 5rem 0;
    }

    .s4_2 {
        padding: 2rem 1rem;
    }

    .s4_2 h1 {
        font-size: 2rem;
    }

    .s4_p2 {
        margin: 0.8rem 0 !important;
    }

    .s4_4 {
        padding: 0rem;
    }

    .s4_3 {
        margin: 1.5rem 0 !important;
    }

    .s4_3 h5 {
        margin: 0.7rem 0 !important;
    }

    /* ***************************** */
    .section5 img {
        padding: 0.7rem 0;
        width: 100%;
    }

    .s5_h2 h5 {
        font-size: 0.9rem;
        padding: 0 0.27rem;
    }

    .s5_h2 {
        justify-content: center;
    }

    /* ***************************** */
    .section6 {
        padding: 1rem 0 7rem 0;
    }

    .s6_img {
        text-align: center;
    }

    .s6_1 {
        padding: 4rem 0;
    }

    .s6_1 h4 {
        padding-bottom: 0.5rem;
        font-size: 1rem;
    }

    .s6_1 p {
        margin-top: 3rem !important;
        margin-bottom: 1.5rem !important;
    }

    .s6_icon i {
        font-size: 1rem;
    }

    .s6_last img {
        padding: 0.6rem 0;
    }

    .s6_last {
        text-align: center;
    }

    /* ***************************** */
    .f_1,
    .f_2,
    .f_3,
    .f_4 {
        padding: 1.5rem 0;
    }

    .f_2 i {
        padding: 0.3rem 0.4rem;
        margin: 0.4rem 0 !important;
        font-size: 0.7rem;
    }

    .f_3 i {
        padding-right: 0.7rem;
    }

    .f_3 p {
        font-size: 0.9rem;
        padding: 0.4rem 0.5rem;
    }

    .footer_icon {
        padding-top: 2rem;
    }

    .footer_icon i {
        margin-right: 0.6rem !important;
    }

    /* ***************************** */
    /* ***************************** */
    /* ***************************** */
    /* ***************************** */
}

/* ***************************** */
@media only screen and (min-width:601px) and (max-width:767px){
    .container {
        margin: 0 auto !important;
    }

    * {
        margin: 0 !important;
        padding: 0;
    }

    .top_main {
        display: none;
    }

    /* ***************************** */
    .nav_sec img {
        display: block;
    }

    .nav_ul li {
        padding: 0.4rem;
    }

    .nav_main {
        padding: 1rem;
    }

    .nav_sec i {
        color: var(--primary-color);
    }

    .nav_sec i:hover {
        color: #fff !important;
        transition: 0.8s;
    }

    /* ***************************** */
    .section1 {
        padding: 4rem 0 6rem 0;
        background-image: url(./img/skyoe\ \(2\).PNG);
    }

    .s1_1 h1 {
        font-size: 2.2rem;
        letter-spacing: 1px;
    }

    .s1_1 p {
        font-size: 1rem;
    }

    .btn1 {
        padding: 0.8rem 1.3rem;
        margin-top: 2.5rem !important;
        font-size: 0.8rem;
    }

    /* ***************************** */
    .section2 {
        text-align: center;
    }

    .s2_2 {
        display: block;
    }

    .s2_2 input {
        margin: 1rem 0 !important;
    }

    .btn2 {
        margin-top: 2rem !important;
    }

    /* ***************************** */
    .section3 {
        padding: 5rem 0;
    }

    .s3_p2 {
        margin: 0.8rem 0 !important;
        padding-right: 0rem;
    }

    .s3_icon p {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

    .s3_icon i {
        font-size: 1rem;
    }

    .btn3 {
        padding: 0.8rem 1.5rem;
        margin-top: 3rem !important;
    }

    .s3_2 {
        padding-top: 6rem;
    }

    .s3_1 h1 {
        font-size: 2rem;
    }

    /* ***************************** */
    .section4 {
        padding: 5rem 0;
    }

    .s4_2 {
        padding: 2rem 1rem;
    }

    .s4_2 h1 {
        font-size: 2rem;
    }

    .s4_p2 {
        margin: 0.8rem 0 !important;
    }

    .s4_4 {
        padding: 0rem;
    }

    .s4_3 {
        margin: 1.5rem 0 !important;
    }

    .s4_3 h5 {
        margin: 0.7rem 0 !important;
    }

    /* ***************************** */
    .section5 img {
        padding: 0.7rem 0;
        width: 100%;
    }

    .s5_h2 h5 {
        font-size: 0.9rem;
        padding: 0 0.27rem;
    }

    .s5_h2 {
        justify-content: center;
    }

    /* ***************************** */
    .section6 {
        padding: 1rem 0 7rem 0;
    }

    .s6_img {
        text-align: center;
    }

    .s6_1 {
        padding: 4rem 0;
    }

    .s6_1 h4 {
        padding-bottom: 0.5rem;
        font-size: 1rem;
    }

    .s6_1 p {
        margin-top: 3rem !important;
        margin-bottom: 1.5rem !important;
    }

    .s6_icon i {
        font-size: 1rem;
    }

    .s6_last img {
        padding: 0.6rem 0;
    }

    .s6_last {
        text-align: center;
    }

    /* ***************************** */
    .f_1,
    .f_2,
    .f_3,
    .f_4 {
        padding: 1.5rem 0;
    }

    .f_2 i {
        padding: 0.3rem 0.4rem;
        margin: 0.4rem 0 !important;
        font-size: 0.7rem;
    }

    .f_3 i {
        padding-right: 0.7rem;
    }

    .f_3 p {
        font-size: 0.9rem;
        padding: 0.4rem 0.5rem;
    }

    .footer_icon {
        padding-top: 2rem;
    }

    .footer_icon i {
        margin-right: 0.6rem !important;
    }

}

/* ***************************** */
@media only screen and (min-width:768px) and (max-width:991px) {

    * {
        margin: 0 !important;
        padding: 0;
    }

    .top_main {
        display: none;
    }

    .container {
        margin: 0 auto !important;
    }

    /* ***************************** */
    .nav_sec img {
        display: block;
    }

    .nav_ul li {
        padding: 0.4rem;
    }

    .nav_main {
        padding: 1rem;
    }

    .nav_sec i {
        color: var(--primary-color);
    }

    .nav_sec i:hover {
        color: #fff !important;
        transition: 0.8s;
    }

    /* *************************** */
    .section1 {
        padding: 6rem 0;
        background: url(./img/skyoe\ \(3\).PNG);
        background-size: cover;
    }

    .s1_1 h1 {
        font-size: 2.6rem;
        padding-top: 0.5rem;
    }

    .btn1 {
        padding: 0.9rem 1.3rem;
        margin-top: 2rem !important;
        font-size: 0.85rem;
    }

    .s1_1 p {
        font-size: 1.15rem;
    }

    /* *************************** */
    .s2_2 input {
        margin: 0 0.4rem !important;
        font-size: 0.8rem;
    }

    .s2_1 h5 {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .btn2 {
        padding: 0.2rem 1.5rem;
        font-size: 0.85rem;
    }

    /* *************************** */
    .s3_1 h1 {
        font-size: 1.8rem;
    }

    .s3_p2 {
        margin: 0.8rem 0 !important;
        padding-right: 1rem;
    }

    .s3_1 h4 {
        font-size: 0.9rem;
        font-weight: 600;
    }

    .s3_icon p {
        font-size: 0.9rem;
    }

    .s3_icon {
        padding: 0.4rem 0;
    }

    .s3_icon i {
        font-size: 1rem;
    }

    .btn3 {
        padding: 0.9rem 1.9rem;
        margin-top: 2rem !important;
        font-size: 0.9rem;
    }

    /* *************************** */
    .section4 {
        padding: 5rem 0 3rem 0;
    }

    .s4_4 {
        padding: 1.8rem 0;
    }

    .s4_3 h5 {
        margin: 0.7rem 0 !important;
        font-size: 0.95rem;
    }

    .s4_3 {
        padding: 1.5rem 0.8rem;
    }

    .s4_3 img {
        margin-top: -4rem !important;
    }

    .s4_2 h1 {
        font-size: 2.2rem;
        padding: 0.6rem 0;
    }

    .s4_2 img {
        padding-top: 2.5rem;
    }

    /* *************************** */
    .s5_h2 h5 {
        font-size: 1rem;
        padding: 0 0.5rem;
    }

    .s5_h2 {
        padding: 1.5rem 0;
        justify-content: center;
    }

    /* *************************** */
    .s6_1 h4 {
        font-size: 1rem;
        padding-bottom: 0.5rem;
    }

    .s6_1 p {
        margin-bottom: 1.5rem !important;
    }

    .s6_1 h1 {
        font-size: 1.8rem;
    }

    .s6_1 h5 {
        font-size: 1rem;
    }

    .s6_img {
        padding-top: 0.5rem;
        text-align: center;
        display: flex;
    }

    .s6_img img {
        padding: 0.8rem 0rem;
    }

    .s6_icon i {
        font-size: 0.9rem;
        margin: 0 0.1rem !important;
    }

    /* *************************** */
    .section7 h4 {
        font-size: 1rem;
    }

    .f_1 p {
        padding-right: 0rem;
        font-size: 0.8rem;
        padding-bottom: 1.5rem;
    }

    .f_2 p {
        font-size: 0.8rem;
    }

    .f_2 i {
        padding: 0.2rem;
        font-size: 0.6rem;
    }

    .f_3 p {
        font-size: 0.8rem;
        padding: 0.4rem 0;
    }

    .f_4 h5 {
        font-size: 0.75rem;
    }

    .f_4 h6 {
        font-size: 0.4rem;
        padding-top: 0.2rem;
    }

    /* *************************** */
}

/* *************************** */
@media only screen and (min-width:992px) and (max-width:1200px) {

    .top_sec2 h6 {
        font-size: 0.8rem;
    }

    .top_sec2 i {
        font-size: 0.8rem;
    }

    /* *************************** */
    .section1 {
        background-image: url(./img/skyoe\ \(3\).PNG);
        background-size: cover;
        padding: 12rem 0 10rem 0;
    }

    .s1_1 h1 {
        font-size: 4rem;
    }

    /* *************************** */
    .s3_1 h4 {
        font-size: 1.1rem;
    }

    /* *************************** */
    .s6_img img {
        padding: 0.8rem 0rem;
    }

    /* *************************** */
    /* *************************** */
    /* *************************** */
    /* *************************** */
}